Flask==3.1.0
line-bot-sdk==3.17.1

jupyter
jupyterlab

langchain==0.3.24
langchain-core==0.3.56
langchain-google-genai==2.1.4
langchain-openai==0.3.14
langchain-community

openai==1.76.2

psycopg2-binary